services:
  postgres:
    image: postgres:16-alpine
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=admin
      - POSTGRES_PASSWORD=admin
      - POSTGRES_DB=payments
    volumes:
      - ./data/postgres:/var/lib/postgresql/data
  mongo:
    image: mongo:7
    ports:
      - "27017:27017"
    environment:
      - MONGO_INITDB_ROOT_USERNAME=admin
      - MONGO_INITDB_ROOT_PASSWORD=admin
      - MONGO_INITDB_ROOT_DATABASE=payments
    volumes:
      - ./data/mongo:/data/mongo
  keycloak:
    image: quay.io/keycloak/keycloak
    command:
      - start-dev
    ports:
      - "8100:8080"
    environment:
      KEYCLOAK_ADMIN: admin
      KEYCLOAK_ADMIN_PASSWORD: admin
      DB_VENDOR: "POSTGRES"
      DB_ADDR: "postgres"
      DB_USER: "admin"
      DB_PASSWORD: "admin"
      DB_DATABASE: "payments"