server:
  port: 8000
spring:
  datasource:
    url: jdbc:h2:file:./data/h2-db.db;DB_CLOSE_ON_EXIT=FALSE
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
      path: /h2
management:
  endpoints:
    web:
      exposure:
        include: "*"