<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Payments</title>
</head>
<body>
<h1>Login page</h1>
<form method="post" action="/login.html">
    <div>
        <label for="username" th:text="Username"></label>
        <input id="username" name="username">
    </div>
    <div>
        <label for="password" th:text="#{passwordLabel}"></label>
        <input id="password" name="password" type="password">
    </div>
    <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}">
    <button type="submit" th:text="#{sendButton}"></button>
</form>
<div th:if="${param.error}" th:text="#{invalidLoginOrPassword}"></div>
</body>
</html>
